<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ranked RockPaperScissor</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/login">
    </a>

    <div class="navlink"><a href="/leaderboard">LeaderBoard</a></div>
    <div class="navlink"><a href="/game">Play Game</a></div>
    <div class="navlink"><a href="/webstore">Webstore</a></div>

    <div class="dropdown">
      <button type="button" class="triggerVis">Account</button>

      <ul class="dropdown-Items">
        <li class="navlink"><a href="/settings">Settings</a></li>
        <li class="navlink"><a href="/logout">Log out</a></li>
      </ul>

    </div>


  </nav>

  <div id="alertMessage" class='alert-banner hidden'>
    <div class="alert-content">
      <span id="errorMessage"></span>
      <button id="closeALert" class="close-btn">&times;</button>
    </div>
  </div>

  <section id="app">

  </section>

  


  <script src="/assets/appBundle.js"></script>
</body>

</html>