<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ranked RockPaperScissor</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login">
    </a>
    <div class="navlink"><a class="active" id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>

  <div id="alertMessage" class='alert-banner hidden'>
    <div class="alert-content">
      <span id="errorMessage"></span>
      <button id="closeALert" class="close-btn">&times;</button>
    </div>
  </div>

  <section id="content">

  </section>


  <script src="/assets/loginBundle.js"></script>
</body>

</html>