html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(53, 65, 82);
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    position: relative;
    top:10px;
    width: fit-content;
    min-height: 50px;
    margin: 0 auto;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    /* overflow:hidden; */

    padding: 5px 10px;
}



.navlink, .dropdown label {
    margin:1rem;
    
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.3em;
    text-align: center;
    display:inline-block;
    
}

.navlink a,
.dropdown label {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.4s ease;

}

.dropdown label:hover, .navlink a:hover {
    transition: background-color 0.8s ease;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
}

.navlink a.active {
    background: linear-gradient(135deg, rgba(255,255,255,0.2),rgba(255,255,255,0.1));
    color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown .triggerVis{
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    user-select: none;
    transition: all 0.3s ease;
}

.dropdown-Items{
    position: absolute;
    top: calc(100% + 8px);
    left:0;
    right: auto;

    list-style: none;
    padding: 8px 0;
    margin: 0;
    min-width: 150px;
    
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

    /* animation */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 
    opacity 0.25s ease,
    transform 0.25s ease;


    font-size: 0.90rem;
    user-select: none;
}


.dropdown.open .dropdown-Items{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-Items li{
    padding: 0;

}





.formWindow{
    box-shadow: 0 0 100px rgb(23, 30, 39);
    text-align: center;
    padding: 5rem 2rem;
    min-height: 300px;
    display: table;
    margin: 10em auto 2rem;
    
    background-color: rgb(53, 65, 82);
}

.mainForm {
    /* height: 300px; */
    width: 350px;
    margin: 0 auto;
    /* padding-top: 350px; */
    font-size: 1.2em;
    display:flex;
    align-items: stretch;
    
    flex-direction: column;
}

.mainForm h2{
    font-size:50px;
    color: rgb(238, 249, 255);
    margin: 0 0 1rem;
    user-select: none;

}
.mainForm h3 {
    text-align: center;
    user-select: none;

}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: left;
    font-size: 1.1em;
    width: fit-content;
    user-select: none;
    pointer-events: none;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    /* margin: 0 auto; */
    margin-top: 20px;
    font-size: 1.2em;
    /* width: 100px; */
    background-color: #3d7fb1;
    border-radius: 999px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #3b97dd;
}

.mainForm input{
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
}

.mainForm input::placeholder{
    color: rgb(218, 218, 218);
}

#user, #email, #pass, #pass2 {
    font-size: 1.1em;
    /* width: 180px; */
    border: 1px solid #242c37;
    border-radius:999px;
    background-color: rgba(109, 128, 155, 0.658);
    color: white;
    
}

#user:focus, #email:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
    background-color:#55acee0c;
    color: white;
}

.hidden {
    display: none;
}



/*
    This is for 404 page styling
*/
.error-container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

.error-box{
    text-align: center;
    padding: 40px 60px;
    border-radius: 20px;
    
    animation: fadeIn 0.2s ease forwards;
    opacity: 0;
}

@keyframes fadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.error-box h1{
    font-size: 100px;
    margin-bottom: 10px;
    color:white;
}

.error-box p {
    font-size: 22px;
    margin-bottom: 25px;
    color: rgba(255,255,255,0.8);
}

.error-btn{
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
}

.error-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rbga(0,0,0,0.2);
    background: linear-gradient(135deg, rgba(255,255,255,0.25), rgba(255,255,255,0.1));
}


.domoForm {
    display: flex;
    /* gap:10px; */
    align-items: center;

    border: 2px solid #338acc;
    height: 35px;
    /* width: 700px; */
    width: fit-content;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;

    margin-left:20px;
    margin-right: 10px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#domoMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    /* float:left; */
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoLevel {
    /* float:right; */
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.domoAge {
    /* float:right; */
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}




.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}